<a href="https://colab.research.google.com/github/FazaSanda/Kkasmt1fazasanda/blob/main/2_Tipe_variabel_Faza_Sanda_XI_I.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Nama : Faza Sanda
kelas : XI. I
No. absen : 13

konsep dasar

In [ ]:
email_user_1 ="fazasanda2025@gmail.com"
print(email_user_1)

fazasanda2025@gmail.com

In [ ]:
sabun_lifebuoy = 15000
print(sabun_lifebuoy)

15000

In [ ]:
print(sabun_lifebuoy*5)

75000

peraturan penulisan nilai variabel

In [ ]:
#penulisan variabel hanya boleh menggunakan huruf, angka dan underscore
#Tidak boleh menggunakan spasi
nama siswa ="Faza"
print(nama siswa)

SyntaxError: invalid syntax (ipython-input-1780068500.py, line 3)

In [ ]:
#tidak boleh diawali dengan angka
1_nama_siswa = "Faza"
print(1_nama_siswa)

SyntaxError: invalid decimal literal (ipython-input-3709258736.py, line 2)

In [ ]:
#penulisan nama varibel itu case sensitive/sensitif capslok
nama_siswa_1 = "Faza"
print(Nama_siswa_1)

NameError: name 'Nama_siswa_1' is not defined

In [ ]:
#Dilarang menggunakan kata kunci di bahasa python
prin="Faza"
print(prin)

Faza

In [ ]:
end = "fafaza"
print(end)

fafaza

In [ ]:
#Deskriptif
_ = "Faza"
print(_)

Faza

In [ ]:
#tidak boleh pakai kata kunci python
#kalau error, harus disconnect dulu
#print = "faaza"
#print(print)

#assignment

##single assignment

In [ ]:
nama_siswa_2 = "ssafira"
nama_siswa_3 = "kaisya"
print(nama_siswa_2)
print(nama_siswa_3)

ssafira
kaisya

##multipel assignment

In [ ]:
nama_siswa_4,nama_siswa_5 = "Faza","Fifi"
print(nama_siswa_4)
print(nama_siswa_5)

Faza
Fifi

##asign ke banyak variabel sekaligus

In [ ]:
nilai_faza = nilai_fazila = 100
print(nilai_faza)

100

##perubahn nilai variabel

In [ ]:
nilai_faza = 98
print(nilai_faza)

98

##Latihan Soal: Harga Barang di Swalayan

#single assignment

In [ ]:

susu = 15000
roti = 12000
telur = 24000

print(f"Harga susu: Rp{susu}")
print(f"Harga roti: Rp{roti}")
print(f"Harga telur: Rp{telur}")

Harga susu: Rp15000
Harga roti: Rp12000
Harga telur: Rp24000

#Multiple assignment

In [ ]:

gula, minyak = 14000, 20000


print(f"Harga gula: Rp{gula}")
print(f"Harga minyak: Rp{minyak}")

Harga gula: Rp14000
Harga minyak: Rp20000

#penilaian nilai sama

In [ ]:

mie_ayam = mie_soto = mie_kari = 3500


print(f"Harga mie ayam: Rp{mie_ayam}")
print(f"Harga mie soto: Rp{mie_soto}")
print(f"Harga mie kari: Rp{mie_kari}")

Harga mie ayam: Rp3500
Harga mie soto: Rp3500
Harga mie kari: Rp3500

Swap/tukar nilai

In [ ]:

susu, roti = roti, susu


print(f"Harga susu setelah ditukar: Rp{susu}")
print(f"Harga roti setelah ditukar: Rp{roti}")

Harga susu setelah ditukar: Rp12000
Harga roti setelah ditukar: Rp15000

Perubahan nilai variabel

In [ ]:
# harga telur turun
telur = telur - 2000
print(f"Harga telur setelah diskon: Rp{telur}")

# harga minyak naik
minyak = minyak + 3000
print(f"Harga minyak setelah harga naik: Rp{minyak}")

Harga telur setelah diskon: Rp22000
Harga minyak setelah harga naik: Rp23000

#Aritmatika

In [ ]:
print("5000*3")

5000*3

In [ ]:
#operand tanpa disimpan dalam variabel
print(5000*3)

15000

In [ ]:
#simpan operand dalam variabel
harga_kojek = 6000
Banyak_porsi = 3
print(harga_kojek*Banyak_porsi)

18000

In [ ]:
#simpan hasil operasi dalam variabel
Harga_total_kojek = 3000*3
print(Harga_total_kojek)

9000

In [ ]:
#simpan  nilai operand dan hasil operasi dalam variabel
Harga_cilok = 10000
Jumlah_porsi_cilok = 5
Harga_total_cilok = Harga_cilok*Jumlah_porsi_cilok
print (Harga_total_cilok)

50000

In [ ]:
Uang_yang_diterima = 100000
Uang_kembalian = Uang_yang_diterima -Harga_total_cilok

#tugas

In [ ]:
print(24 * 3)

72

In [ ]:
total_jumlah_botol = 24 * 3
print(total_jumlah_botol)

72

In [ ]:
banyak_botol_per_kardus = 24
jumlah_kardus = 3
print(banyak_botol_per_kardus * jumlah_kardus)

72

In [ ]:
banyak_botol_per_kardus = 24
jumlah_kardus = 3
total_jumlah_botol = banyak_botol_per_kardus * jumlah_kardus
print(total_jumlah_botol)

72

## konversi tipe data

In [ ]:

a = 3
print(a)
type(a)

3

int

In [ ]:
a = float(a)
print(a)
type(a)

3.0

float

In [ ]:
a = str(a)
print(a)
type(a)

In [ ]:
a = bool(a)
print(a)
type(a)

In [ ]:
b="cicak"
print(b)

cicak

In [ ]:
c = ""

print(c)
c = bool(c)
print(c)

False

In [ ]:
d = False
print(d)
type(d)

False

bool

In [ ]:
e ="False"
print(e)
type(e)

False

str

##Tugas kelompok program menghitung volume kerucut

In [ ]:
jari_jari = float(input("masukkan jari jari kerucut:"))
tinggi = float(input(" masukkan tinggi kerucut:"))
pi = 3.14
volume =(1/3)* pi * (jari_jari**2)* tinggi
print(f" volume kerucut adalah {volume} cm^3")

masukkan jari jari kerucut:7
 masukkan tinggi kerucut:10
 volume kerucut adalah 512.8666666666666 cm^3